  footer 
  {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .footer-left,
  .footer-center,
  .footer-right 
  {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  
  .footer-center a,
  .footer-right a 
  {
    margin-left: 10px;
  }

  .borderFooter
  {
    border: black 2px;
  }
  .borderFooter a#cgu-link
  {
    text-decoration: none;
  }

  a#cgu-link { text-decoration: none; color: grey; transition: color 0.3s ease; }
  a#cgu-link:hover { color: #ffffff; }

  a#rgpd-link { text-decoration: none; color: grey; transition: color 0.3s ease; }
  a#rgpd-link:hover { color: #ffffff; }