  body 
  { 
    background-color:#343541; font-family: Arial, sans-serif; 
    text-align: center; margin: 0px; display: inline; 
  }

  /* Styles communs pour les Pages Entrainement et Exercice */
  #h1-title { color:#ffffff }
  #h1-exercise { color:#ffffff }
  #exercise-name { font-size: 30px; font-weight: bold; margin-bottom: 10px; }
  #current-set { font-size: 25px; margin-bottom: 10px; }
  #timer { font-size: 50px; margin-bottom: 20px; font-weight: bold; }
  #exercise-image { max-width: 400px; max-height: 400px; }
  .rounded-image { border-radius: 6%; }
  .buttons-exercise { margin: 20px; }
  .buttons-exercise button
  { 
    font-size: 20px; padding: 10px 20px; margin: 5px; 
    background-color: #ffffff; border-radius: 5px;
  }
  .exercise-explanations
  { 
    display: inline-block; border: 2px solid black; border-radius: 10px; 
    background-color: #2b2c35; transition: background-color 0.3s;
    color: white; font-size: 1.2em; text-align: justify; padding: 2rem;
  }
  .exercise-explainations:hover { background-color: #000000; }
  .encadre
  { 
    display: inline-block; border: 2px solid black; border-radius: 10px; 
    background-color: #2b2c35; padding: 10px; transition: background-color 0.3s;
    color: white;
  }
  .encadre:hover { background-color: #000000; }
  div.encadre a { color: #ffffff; text-decoration: none; }


  /* Page Princiaple */
  .encadre-main-page 
  { 
    display: inline-block; border: 2px solid black; border-radius: 10px; 
    background-color: #2b2c35; padding: 10px; transition: background-color 0.3s;
    color: white;
  }
  .encadre-main-page > p { text-align: left; }
  .imgCouverture-main-page { width: 700px; }


  /* Page Entrainements */
  .imgEntrainements { width: 200px; border-radius: 6%; }
  .h2-section-entrainements { color: #ffffff; font-weight: bold; }

  /* Pages des entrainements */
  .dropdown-content 
  {
    display: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #2b2c35;
    padding: 10px;
    transition: background-color 0.3s;
    color: white;
  }
  .dropdown-btn
  {
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 5px;
  }


  /* Page Exercices */
  .ExercicesPresentationSection { display: flex; justify-content: center; }
  .ExercicePresentation { padding-left: 15px; padding-right: 15px; }
  .imgExercices { width: 200px; border-radius: 6%; }


  /* Page d'Entrainement */
  section.wrap-exercise-explanation { display: inline-block; }
  .EncadresEntrainements { justify-content: center; }


  /* Page CGU */
  .h1-cgu-rgpd { font-size: 2rem; }


  /* Illustrations TOP Page */
  .container  {display: flex; }
  .left-column { flex: 1; }
  .right-column { flex: 2; display: flex; flex-wrap: wrap; }
  .imageCol1 { width: 100%; height: auto; margin-bottom: 10px; }
  .imageCol2 { width: 50%; height: auto; margin-bottom: 10px; }