@media (max-width: 1920px) 
  {
    /* Page principale */
    .imageColumnMainPage { width: fit-content; }
  }

@media (max-width: 1000px) 
  {
    /* Page principale */
    .containerMainPage { display: inline-block }
    .imageColumnMainPage { width: 400px; }
  }

@media (max-width: 850px) 
  {
    /* Page principale */
    .columnTopMainPage { flex-basis: 100%; }
    .columnTopMainPage:nth-child(1) { text-align: center; }
    .columnTopMainPage:nth-child(2) { text-align: center; }
  }

@media (max-width: 790px) 
  {
    .encadre { width: 490px; font-size: 1.5rem;}

    /* Page principale */
    .encadre-main-page { width: 490px; font-size: 1.5rem; margin: 0px;}
    .imageColumnTopMainPage { width: 300px; }
    .imgCouverture-main-page { width: 500px; }

    /* Page d'Entrainement Spécifique */
    .EncadresEntrainements { display: inline-block; justify-content: center;}
    .exercise-explanations { border-radius: 5px; padding: 0rem; width: 480px; padding: 10px; }
    section.wrap-exercise-explanation { display: flex; justify-content: center;}

    /* Page Exercices */
    .ExercicesPresentationSection { display: inline-block; justify-content: center;}
    .ExercicePresentation { margin-left: 0px; margin-right: 0px;}
    .imgExercices { width: 200px; border-radius: 6%;}
    

  }

  @media (max-width: 500px)
  {
    #h1-exercise { scale: 0.8;}

    .encadre { width: 300px;}

    /* Page principale */
    .encadre-main-page { width: 300px; }
    .encadre-main-page > h2 { font-size: 1.8rem; }
    .imgCouverture-main-page { width: 300px; }

    /* Page d'Entrainements et Exercices Spécifique */
    .exercise-explanations { width: 300px; }
    #EncadreEntrainement20mins { scale: 0.9; margin-top: -20px;}
    .buttons-exercise { margin: 10px; }
    #exercise-name { font-size: 25px; margin-bottom: 0px; }
    #current-set { font-size: 20px; margin-bottom: 0px; }
    #exercise-image { width: 250px; }
    #next-exercise-image { width: 150px; }
  }